body{
    text-align: center;
    background-size: cover;
background-repeat:no-repeat ;
background-position: center;
background-attachment:fixed;
             background-image: url(img/pig.jpg);
}

table{

    position: relative;
    width: 150 px;
    height: 140px ;
    text-align: center;
}
input{
    text-align:center;
   
    background-color: transparent;
    color:black;
    box-shadow: 6px 10px 4px rgb(34, 27, 27);
    border-radius: 0%;
}

#button{
   
    border-radius: 40%;
}
#button{

    background-color: darkgray;
}

::placeholder{

    color:black;
}
